![Alt text]()

<div class="alert alert-block alert-info" style="font-size:14px; font-family:verdana; line-height: 1.7em;"> Pandas is an open-source data manipulation and analysis library for the Python programming language. It provides data structures and functions for working with structured data, such as tabular data, time series, and more. Pandas is a popular choice for data scientists, analysts, and researchers when it comes to data cleaning, transformation, and analysis.</div>

In [2]:
import pandas as pd

# <span style='color:#150458 '> Data Structures : </span>

## 1 <span style='color:#E70488 '> | </span> Series

<div class="alert alert-block alert-info" style="font-size:14px; font-family:verdana; line-height: 1.7em;"> A one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.). It is similar to a one-dimensional NumPy array, but it has an index, which makes it more flexible. </div>

In [3]:
series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
series2 = pd.Series(['a','b','c','d','e'])
series2

0    a
1    b
2    c
3    d
4    e
dtype: object

## 2 <span style='color:#E70488 '> | </span> DataFrame

<div class="alert alert-block alert-info" style="font-size:14px; font-family:verdana; line-height: 1.7em;"> A two-dimensional labeled data structure with columns of potentially different data types. It is similar to a spreadsheet or SQL table, where each column can have a different type. </div>

In [5]:
data = {'Name':['Alka','Madhu','Kiara'],
       'Age':[34,54,23],
       'City':['NY','Mumbai','Delhi']}

df = pd.DataFrame(data)
df

    Name  Age    City
0   Alka   34      NY
1  Madhu   54  Mumbai
2  Kiara   23   Delhi